@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;400;700&display=swap');
body{

    background-color:hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container{
margin: 30px;
    display: flex;
    flex-direction: column;
    height: 530px;
    align-items: center;
    justify-content: center;
    background-color:  hsl(0, 0%, 100%) ;
    border-radius:15px;
    padding: 18px;
    width: 348px;
    
}
#image{
    height: 340px;
    width: 318px;
    border-radius: 18px;
    padding: 0px, 18px, 18px;
    margin: 18px;
}
#par{
    color: hsl(218, 44%, 22%);
    font-family:'Outfit', sans-serif;
    font-weight: 700;
    text-align: center;
}
p{
    color: hsl(220, 15%, 55%);
    margin-top: 10px;
    font-weight: 400;
    text-align: center;
    width: auto;
}
